# This file defines the code owners for the repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owner for everything
*       @colorFabb/engineering

# Profile specific owners
/BambuStudio/    @colorFabb/bambu-team
/OrcaSlicer/     @colorFabb/orca-team
/PrusaSlicer/    @colorFabb/prusa-team
